@import "../../scss/config";

.habitNameForm {
    display: flex;
    position: relative;
}
.habitNameButtons {
    position: absolute;
    right: -5px;
    bottom: -6px;
    cursor: pointer;
    display: flex !important;
    flex-direction: column;
    justify-content: space-around;
}
.habitNameIconDeny {
    color: $red-mark-color;
    margin: 5px 0;
}
.habitNameIconCheck {
    color: $green-mark-color;
}
.deleteHabit {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #ff90b3;
    transition: 0.1s ease-in-out;
    cursor: pointer;
    &:hover {
        color: red;
    }
}
.nameTh{
    border-left: 1px solid #dee2e6 !important;
    border-bottom: 1px solid #dee2e6 !important;
    border-right: 1px solid #dee2e6 !important;
}
