@import "../../scss/config";

.habitNameForm {
    display: flex;
    position: relative;
}
.habitNameButtons {
    position: absolute;
    right: -5px;
    bottom: -6px;
    cursor: pointer;
    display: flex !important;
    flex-direction: column;
    justify-content: space-around;
}
.habitNameIconDeny {
    color: $red-mark-color;
    margin: 5px 0;
}
.habitNameIconCheck {
    color: $green-mark-color;
    z-index: 5;
}
.deleteHabit {
    color: $green-mark-color;
    z-index: 5;
    position: absolute;
    left: 0;
    bottom: 0;
    color: #ff90b3;
    cursor: pointer;
}
