@import "../../scss/config";

.habitMeasuringForm {
    display: flex;
}

.habitMeasuringButtons {
    padding-right: 10px;
    cursor: pointer;
    display: none;
}
.buttonsShow {
    display: flex !important;
    flex-direction: column;
    justify-content: space-around;
}
.habitMeasuringButtonsHidden {
    display: none;
}

.habitMeasuringIconDeny {
    color: $red-mark-color;
}
.habitMeasuringIconCheck {
    color: $green-mark-color;
}
