@import '../../../scss/config';

.habitMeasuringForm {
    display: flex;
    position: relative;
}

.habitMeasuringButtons {
    padding-right: 10px;
    position: absolute;
    right: -5px;
    bottom: -16px;
    width: 20px;
    cursor: pointer;
    display: flex !important;
    flex-direction: column;
    justify-content: space-around;
}

.habitMeasuringIconDeny {
    width: 15px !important;
    color: $red-mark-color;
    margin: 2px 0;
    transition: 0.2s;
    &:hover {
        color: red;
    }
}
.habitMeasuringIconCheck {
    width: 20px !important;
    color: $green-mark-color;
    transition: 0.2s;
    &:hover {
        color: green;
    }
}
.measureTh {
    border: 1px solid #dee2e6 !important;
}
